<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/innerPage.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <title><%= pageTitle %></title>
  </head>
  <body>
    <!-- Start -->
    <div class="card-container">
      <div class="card">
        <div class="img-card">
          <img src="/images/birthdayCard.svg" alt="birthdayCard" id="imgCard" />
        </div>
        <form id="cardForm">
          <label for="messageBox" class="visually-hidden"></label>
          <div id="messageBox"><%= birthdayMessage %></div>
          <button type="button" class="btn-print">Print</button>
        </form>
      </div>
    </div>
    <!-- End -->
    <script>
      //Print card
      document
        .querySelector(".btn-print")
        .addEventListener("click", function (e) {
          e.preventDefault();
          setTimeout(() => window.print(), 500);
        });
    </script>
  </body>
</html>
